.divo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detailsContainer{
  border: 1px solid black;
  padding: 5px;
  display: flex;
  margin : 10px;
  border-radius: 2rem;
}
.detailsContainer p{
  margin : 30px;
}
.detailsContainer button{
  margin:10px
}
.detailsContainer input{
  margin:10px;
}